.form-input-seach-by-name:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #d0021b;
    outline: 0;
}

.form-input-seach-by-name{
    width: auto;
    display: inline;
    padding: .25rem .5rem;
}
.table-form{
     border-style: solid;
    
}