@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background-color: #f5f5f5;
  color: #2e4053;
  font-family: 'Roboto', sans-serif;
}

.loading {
  text-align: center;
}

.loading-icon {
  margin: 0 auto;
}

.card-box {
  padding: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  height: 380px;
  position: relative;
}

.text-mute {
  color: #000;
  margin: 0 auto;
  text-align: center;
}

.text-mute2 {
  color: black;
  font-weight: bold;
}

.btn-details {
  margin: 0 auto;
  cursor: pointer;
}

#root {
  line-height: normal;
}

.margin-text {
  margin-top: 20px;
}

.btn-box-detail {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.btn-secondary {
  color: rgb(147, 144, 144);
  font-weight: bold;
}

.app-content {
  margin-top: 20px;
  text-align: left;
}

.btn {
  border: 1px solid #ccc;
}

body {
  background-color: white;
}

.breadcrumb {
  background-color: #cc2704;
  border-radius: 0px;
  color: whitesmoke;
  height: 45px;
  text-align: left;
}
