.Bar {
  background-color: #e6e6fa;
  text-align: center;
  height: 50px;
  left: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px -10px;
  color: black;
}

.image {
  width: 100px;
  align-items: center;
}

.title {
  margin: 5px 0px;
  padding: 0px 30px;
  color: #1c2833;
  float: left;
}

.ham {
  float: left;
}

.ham:focus {
  outline: 0;
}

.ham:active {
  outline: none;
}
