.Bar {
  background-color: #e6e6fa;
  text-align: center;
  height: 50px;
  left: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px -10px;
  color: black;
}

.image {
  width: 100px;
  align-items: center;
}

Button:focus {
  outline: 0;
}
